p {
  color: #898989;
  font-size: 0.75rem;
  font-family: 'Sora', sans-serif;
}

img {
  width: 4.313rem;
  height: 0.75rem;
  margin-top: 0.75rem;
}

.footer-content {
  display: flex;
  justify-content: flex-end;
}
